@font-face {
  font-family: "Gugi";
  font-style: normal;
  font-weight: 400;
  src: url("./gugi-v13-korean-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./gugi-v13-korean-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./gugi-v13-korean-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./gugi-v13-korean-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./gugi-v13-korean-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./gugi-v13-korean-regular.svg#Gugi")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
